* { box-sizing: border-box; }
nav, main, footer { display: block; }

body { color: #fff;
       margin: 0; 
       background-image: url(background.jpg);
       background-position: center;
       background-size: cover; }
       
nav { position: absolute;
      bottom: 0;
      text-align: left; }
ul a { text-decoration: none;
       color: #fff; }
ul { list-style-type: none; 
     padding-left: 20px;
	 font-size: 1.5em; }
li { display: inline-block;
     background-color: hsla(0, 0%, 100%, 10%);
     padding: 0.4em;
     margin: 0.2em;
	 font-weight: bold; }
	   
main { height: 100vh; }
	   
h1 { font-size: 4em; }
	 
h2 { font-size: 2em; }
	
h1, h2 { font-family: "Aldrich";
	     font-weight: bold;
	     padding: 1em;
         margin: 0; }

.icon { width: auto;
        height: 20px;
         }

@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich Regular'), local('Aldrich-Regular'), url(https://fonts.gstatic.com/s/aldrich/v8/MCoTzAn-1s3IGyJMVacY3w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
